@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Homenaje&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: 'Comfortaa', sans-serif;
}

body {
    background-color: white;
}

.line {
    display: grid;
    grid-template-columns: repeat(min(calc(calc(100vw / 54) / 1px), 11), 1fr);
    justify-content: center;
    max-width: calc(11 * 60px);
    position: sticky;
    top: 8px;
    margin-bottom: 8px
}

.line div {
    aspect-ratio: 1 / 1;
    max-width: 50px;
    box-shadow: 2px 2px black;
    margin: 0 5px 5px;
    transition: 0.25s;
    border-radius: 50px;
}

.line div:hover {
    box-shadow: 4px 4px black;
}

#palettes {
    display: grid;
    grid-template-columns: repeat(calc(calc(100vw / 400) / 1px), 1fr);
    column-gap: 16px;
}

.palette {
    border: 2px solid color-mix(in srgb, white, black);
    background-color: white;
    border-radius: 32px;
    box-shadow: 2px 2px black;
    overflow: hidden;
    margin: 8px 0;
    transition: 0.5s
}

.palette:hover {
    box-shadow: 5px 5px black;
}

.title {
    padding: 8px 16px
}

.title h2 {
    margin: 0;
    font-weight: bolder;
    transition: 0.5s;
}

.content {
    height: 0;
}

.colours {
    height: 43px
}

.colours div {
    width: 25%;
    float: left;
    height: 100%
}